.body {
    font-size: 14px;
    font-weight: 400;
    font-family: "Source Sans Pro", sans-serif;
    color: #666;
    line-height: 25px;
}

p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #8a8fa3;
    margin: 0px;
}





.material-icons {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #8a8fa3;
    margin: 0px;

}

.brand-logo:hover {
    color: black !important;
}




.caption > h2 span {
    font-style: oblique;
}

a:hover, a:focus {
    color:#FBD28B !important;
    /* background: white !important; */
    
}
.nav-wrapper  a:active {
    color: #FBD28B !important;

}

.project-links > a{
    color: black !important;
}

.project-links > a:hover {
    color: #FBD28B !important;
}



h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    font-weight: bold !important;
    font-style: oblique !important;
    font-size: large !important;

}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    font-weight: bold !important;
    font-style: oblique !important;
    font-size: xx-large !important;

}


.btn, .btn-large, .btn-small {
    background: #FBD28B !important;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background: white !important;
    color: black;
}

.section-about p {
    text-align: justify !important;
}

.card-panel:hover{
    box-shadow: dimgrey;
}

.card-panel > a{
    color: dimgray;
}

.section-contact .card-panel {
    background: #FBD28B;
}

.material-icons {
    color: #FBD28B;
}

.section-about > p {
    text-align: center !important;
}

.fa-2x{
    margin: 5px 5px;    
}

.pro-title{
    font-weight: 700;
    color: #FBD28B;
    position: relative;
    right: 32%;
    width: 120px;
    display: inline-block;
    margin-bottom: 5px;
}

.pro-title-details {
    color: #040404;
    position: relative;
    right: 40%;
    width: 120px;
    display: inline-block;
    margin-bottom: 5px;

}

.nav-wrapper .page-scroll:hover {
    color: #FBD28B;
}

.nav-wrapper .page-scroll {
    text-transform: uppercase;
    font-size: 16px;
    color: #8a8fa3;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease-out 0s;

}

.link .fa-github:hover {
    color: #666 !important;
}

.link .fa-linkedin:hover {
    color: rgb(52, 114, 206) !important;
}

.link .fa-twitter:hover {
    color: cornflowerblue !important;
}

.link .fa-facebook:hover {
    color: rgb(50, 23, 112) !important;
}
